BACKUP_S3_HOST="web.s3.wisc.edu"
BACKUP_S3_KEY="my_s3_key_alphanumeric"
BACKUP_S3_SECRET="my_s3_secret_alphanumeric"
BACKUP_S3_BUCKET="my-bucket-name"
BACKUP_S3_PREFIX="my-dir-in-that-bucket"
BACKUP_S3_REGION=""